body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */

header {
  position: fixed;
  width: 100%;
  background: #1c1c1c 0% 0% no-repeat padding-box;
  top: 0;
  z-index: 999;
}

header div {
  position: relative;
  opacity: 1;
  height: 72px;
  width: 1400px;
  margin: 0 auto;
}

header img {
  position: absolute;
  top: 10px;
  left: 147px;
  width: 119px;
  height: 52px;
  opacity: 1;
}

nav {
  top: 26px;
  color: #ffffff;
  display: flex;
  position: absolute;
  left: 708px;
}
nav p {
  margin: 0px 21px;
}

/* Main @ City */
/* Main @ City */
/* Main @ City */
/* Main @ City */

div.backgroundCity {
  background-image: url(/assets/photo-1480714378408-67cf0d13bc1b@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
  box-shadow: inset 0 0 0 2000px rgba(25, 28, 28, 0.63);
  width: 100%;
}

main {
  margin: 0 auto;
  position: relative;
  color: #ffffff;
  width: 1400px;
  height: 639px;
  margin-top: 72px;
}

div.leftField img,
div.leftField h3,
div.leftField p,
div.leftField button {
  position: absolute;
  padding: 0px;
  margin: 0px;
}

div.leftField img:first-child {
  top: 66px;
  left: 150px;
  width: 247px;
  height: 108px;
  opacity: 1;
}

div.leftField h3 {
  top: 196px;
  left: 147px;
  width: 426px;
  height: 87px;
  text-align: left;
  font-weight: 600;
  font-size: 36px;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

div.leftField img:nth-of-type(2) {
  top: 304px;
  left: 142px;
  width: 84px;
  height: 22px;
  background: transparent url(/assets/divider_white_u72.png) 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

div.leftField p {
  top: 350px;
  left: 150px;
  width: 651px;
  height: 65px;
  text-align: left;
  font: normal normal 600 16px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.8;
}

div.leftField button {
  top: 458px;
  left: 150px;
  width: 135px;
  height: 42px;
  border: 2px solid #ffffff;
  opacity: 1;
  background: none;
  color: #ffffff;
}

div.rightField {
  position: absolute;
  top: 75px;
  left: 892px;
}

div.formField {
  color: #1c1c1c;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #00000029;
  opacity: 1;
  border-radius: 5px;
  width: 360px;
  height: 425px;
  position: relative;
}

div.formField div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border-radius: 5px 5px 0px 0px;
}

div.formField div p {
  font-weight: 600;
  font-size: 20px;
  margin: 0px;
}

div.formField form h5 {
  font-size: 16px;
  margin: 30px 0px 22px 51px;
}

div.formField form h5:nth-of-type(2) {
  margin-bottom: 17px;
  margin-top: 17px;
}

div.formField form input:not([type="radio"]) {
  width: 260px;
  font-size: 12px;
  margin: 17px 17px 17px 51px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #d8d8d8;
}

div.formField form input::placeholder {
  color: #d8d8d8;
}

input.radio1 {
  margin-left: 50px;
}
input.radio2 {
  size: 1px;
  margin-left: 17px;
}

div.formField form label {
  font-size: 14px;
}

input[type="radio"]:checked {
  color: #41d395;
}

input[type="radio"] {
  height: 10px;
}

input[type="radio"]:checked + label {
  font-weight: bold;
}

div.formField form input[type="submit"] {
  position: absolute;
  background-color: #41d395;
  width: 100%;
  height: 57px;
  margin: 0px;
  padding: 0px;
  left: 0;
  bottom: 0px;
  font-size: 18px;
  border-radius: 0px 0px 5px 5px;
  color: #ffffff;
  font-weight: 600;
}

/* Socials */
/* Socials */
/* Socials */
/* Socials */

section {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 1400px;
  height: 105px;
}

section div {
  position: absolute;
}

section div:first-child {
  left: 151px;
  width: 394px;
}

section div h2 {
  font-size: 20px;
  margin: 19px 0px 5px 0px;
}

section div p {
  font-size: 14px;
  color: #86878b;
  margin: 0px 0px 19px 0px;
}

section div:nth-of-type(2) {
  height: 100%;
  width: 561px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 681px;
}

section img {
  height: 30px;
}

/* Second page - desert */
/* Second page - desert */
/* Second page - desert */
/* Second page - desert */

div.backgroundDesert {
  height: 595px;
  background-image: linear-gradient(
      270deg,
      rgba(102, 150, 226, 0.42) 0%,
      rgba(226, 120, 102, 0.42) 100%
    ),
    url(/assets/christoffer-engstrom-503481-unsplash@2x.png);
  background-size: cover;
  background-position-y: -330px;
  width: 100%;
}

div.backgroundDesert article {
  width: 1400px;
  position: relative;
  margin: 0 auto;
}

div.backgroundDesert article > div {
  position: absolute;
}

div.tabs {
  display: flex;
  flex-direction: column;
  left: 151px;
  top: 127px;
}

div.tabs button {
  color: #ffffff;
  height: 100px;
  width: 100px;
  margin-bottom: 21px;
  background-color: #e27866;
  border: none;
}
div.tabs button p {
  transform: rotate(-50deg);
  font-size: 14px;
  font-weight: 600;
}

div.tabsTextField {
  color: #ffffff;
  left: 305px;
  top: 150px;
}

div.tabsTextField h2 {
  font-size: 36px;
  width: 509px;
  letter-spacing: 0px;
  margin: 0px;
  font-weight: 600;
}
div.tabsTextField p {
  width: 517px;
  font-size: 14px;
  margin-top: 33px;
}

.item1 {
  grid-area: first;
}
.item2 {
  grid-area: second;
}
.item3 {
  grid-area: third;
  height: 177px;
  width: 337px;
}

.item1,
.item2 {
  height: 168px;
  width: 168px;
}

div.tabsImages {
  left: 890px;
  top: 114px;
  display: grid;
  grid-template-areas:
    "first second"
    "third third";
}

div.tabsImages img {
  width: 100%;
}

/* Juodas trecias page */
/* Juodas trecias page */
/* Juodas trecias page */
/* Juodas trecias page */

div.blackPage {
  background: #1c1c1c;
  width: 100%;
  height: 596px;
}

div.blackPage div.blackPageMain {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

div.blackPage div.blackPageMain img.blackLogo {
  position: absolute;
  height: 170px;
  width: 389px;
  top: 213px;
  left: 210px;
}

div.blackPage div.blackPageMain div.blackPageRight {
  position: absolute;
  top: 90px;
  left: 767px;
  color: #ffffff;
  width: 465px;
}

div.blackPage div.blackPageMain div.blackPageRight h2 {
  width: 314px;
  height: 80px;
  font-size: 30px;
  font-weight: 600;
  margin: 0px;
}

div.blackPage div.blackPageMain div.blackPageRight img {
  width: 200px;
  height: 2px;
  margin: 27px 0px 27px 0px;
}

div.blackPage div.blackPageMain div.blackPageRight p {
  letter-spacing: 0px;
  font-size: 14px;
  margin: 0px;
}

div.orangeCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #e27866;
  border: none;
  border-radius: 50px;
  text-align: center;
}

div.blackPageTitles {
  margin-top: 43px;
}

div.blackTitleFields {
  display: flex;
  margin-bottom: 36px;
}

div.blackTitleFields h5 {
  margin: 0px;
  font-weight: 600;
  font-size: 14px;
}

div.blackTitleFields p {
  margin: 6px 0px 0px 0px;
  font-size: 14px;
  letter-spacing: 0px;
}

div.blackTitleFields div:nth-of-type(2) {
  margin-left: 19px;
}
