body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */

header {
  position: fixed;
  width: 100%;
  background: #1c1c1c 0% 0% no-repeat padding-box;
  top: 0;
  z-index: 999;
}

header div {
  position: relative;
  opacity: 1;
  height: 72px;
  width: 1400px;
  margin: 0 auto;
}

header img {
  position: absolute;
  top: 10px;
  left: 147px;
  width: 119px;
  height: 52px;
  opacity: 1;
}

nav {
  top: 26px;
  color: #ffffff;
  display: flex;
  position: absolute;
  left: 708px;
}
nav p {
  margin: 0px 21px;
}

/* Main @ City */
/* Main @ City */
/* Main @ City */
/* Main @ City */

div.backgroundCity {
  background-image: url(/assets/photo-1480714378408-67cf0d13bc1b@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
  box-shadow: inset 0 0 0 2000px rgba(25, 28, 28, 0.63);
  width: 100%;
}

main {
  margin: 0 auto;
  position: relative;
  color: #ffffff;
  width: 1400px;
  height: 639px;
  margin-top: 72px;
}

div.leftField img,
div.leftField h3,
div.leftField p,
div.leftField button {
  position: absolute;
  padding: 0px;
  margin: 0px;
}

div.leftField img:first-child {
  top: 66px;
  left: 150px;
  width: 247px;
  height: 108px;
  opacity: 1;
}

div.leftField h3 {
  top: 196px;
  left: 147px;
  width: 426px;
  height: 87px;
  text-align: left;
  font-weight: 600;
  font-size: 36px;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

div.leftField img:nth-of-type(2) {
  top: 304px;
  left: 142px;
  width: 84px;
  height: 22px;
  background: transparent url(/assets/divider_white_u72.png) 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

div.leftField p {
  top: 350px;
  left: 150px;
  width: 651px;
  height: 65px;
  text-align: left;
  font: normal normal 600 16px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.8;
}

div.leftField button {
  top: 458px;
  left: 150px;
  width: 135px;
  height: 42px;
  border: 2px solid #ffffff;
  opacity: 1;
  background: none;
  color: #ffffff;
}

div.leftField button:hover {
  background-color: #41d395;
}

div.rightField {
  position: absolute;
  top: 75px;
  left: 892px;
}

div.formField {
  color: #1c1c1c;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #00000029;
  opacity: 1;
  border-radius: 5px;
  width: 360px;
  height: 425px;
  position: relative;
}

div.formField div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border-radius: 5px 5px 0px 0px;
}

div.formField div p {
  font-weight: 600;
  font-size: 20px;
  margin: 0px;
}

div.formField form h5 {
  font-size: 16px;
  margin: 30px 0px 22px 51px;
}

div.formField form h5:nth-of-type(2) {
  margin-bottom: 17px;
  margin-top: 17px;
}

div.formField form input:not([type="radio"]) {
  width: 260px;
  font-size: 12px;
  margin: 17px 17px 17px 51px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #d8d8d8;
}

div.formField form input::placeholder {
  color: #d8d8d8;
}

input.radio1 {
  margin-left: 50px;
}
input.radio2 {
  size: 1px;
  margin-left: 17px;
}

div.formField form label {
  font-size: 14px;
}

input[type="radio"] {
  height: 10px;
}

input[type="radio"]:checked + label {
  font-weight: bold;
}

div.formField form input[type="submit"] {
  position: absolute;
  background-color: #41d395;
  width: 100%;
  height: 57px;
  margin: 0px;
  padding: 0px;
  left: 0;
  bottom: 0px;
  font-size: 18px;
  border-radius: 0px 0px 5px 5px;
  color: #ffffff;
  font-weight: 600;
}

/* Socials */
/* Socials */
/* Socials */
/* Socials */

section {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 1400px;
  height: 105px;
}

section div {
  position: absolute;
}

section div:first-child {
  left: 151px;
  width: 394px;
}

section div h2 {
  font-size: 20px;
  margin: 19px 0px 5px 0px;
}

section div p {
  font-size: 14px;
  color: #86878b;
  margin: 0px 0px 19px 0px;
}

section div:nth-of-type(2) {
  height: 100%;
  width: 561px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 681px;
}

section img {
  height: 30px;
}

/* Second page - desert */
/* Second page - desert */
/* Second page - desert */
/* Second page - desert */

div.backgroundDesert {
  height: 595px;
  background-image: linear-gradient(
      270deg,
      rgba(102, 150, 226, 0.42) 0%,
      rgba(226, 120, 102, 0.42) 100%
    ),
    url(/assets/christoffer-engstrom-503481-unsplash@2x.png);
  background-size: cover;
  background-position-y: -330px;
  width: 100%;
}

div.backgroundDesert article {
  width: 1400px;
  position: relative;
  margin: 0 auto;
}

div.backgroundDesert article > div {
  position: absolute;
}

div.tabs {
  display: flex;
  flex-direction: column;
  left: 151px;
  top: 127px;
}

div.tabs button {
  color: #ffffff;
  height: 100px;
  width: 100px;
  margin-bottom: 21px;
  border: none;
}

div.tabs button:first-of-type {
  background-color: #e27866;
}

div.tabs button:not(:first-of-type) {
  background-color: #a37169;
}

div.tabs button:hover {
  cursor: url(assets/description-cursor-icon-with-shadow-32.png), pointer;
}

div.tabs button p {
  transform: rotate(-50deg);
  font-size: 14px;
  font-weight: 600;
}

div.tabsTextField {
  color: #ffffff;
  left: 305px;
  top: 150px;
}

div.tabsTextField h2 {
  font-size: 36px;
  width: 509px;
  letter-spacing: 0px;
  margin: 0px;
  font-weight: 600;
}
div.tabsTextField p {
  width: 517px;
  font-size: 14px;
  margin-top: 33px;
}

.item1 {
  grid-area: first;
  position: relative;
}
.item2 {
  grid-area: second;
  position: relative;
}
.item3 {
  grid-area: third;
  height: 177px;
  width: 337px;
  position: relative;
}

.item1,
.item2 {
  height: 168px;
  width: 168px;
}

div.tabsImages {
  left: 890px;
  top: 114px;
  display: grid;
  grid-template-areas:
    "first second"
    "third third";
}

div.tabsImages img {
  width: 100%;
}

.item1:hover,
.item2:hover,
.item3:hover {
  cursor: url(assets/description-cursor-icon-with-shadow-32.png), pointer;
}

div.tabsImages p {
  margin: 0;
  position: absolute;
  top: 72px;
  left: 45px;
  font-size: 20px;
  color: #ffffff;
}

div.tabsImages .item3 p {
  left: 120px;
}
/* Juodas trecias page */
/* Juodas trecias page */
/* Juodas trecias page */
/* Juodas trecias page */

div.blackPage {
  background: #1c1c1c;
  width: 100%;
  height: 596px;
}

div.blackPageMain {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

img.blackLogo {
  position: absolute;
  height: 170px;
  width: 389px;
  top: 213px;
  left: 210px;
}

div.blackPageRight {
  position: absolute;
  top: 90px;
  left: 767px;
  color: #ffffff;
  width: 465px;
}

div.blackPageRight h2 {
  width: 314px;
  height: 80px;
  font-size: 30px;
  font-weight: 600;
  margin: 0px;
}

div.blackPageRight img {
  width: 200px;
  height: 2px;
  margin: 27px 0px 27px 0px;
}

div.blackPageRight p {
  letter-spacing: 0px;
  font-size: 14px;
  margin: 0px;
}

div.orangeCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #e27866;
  border: none;
  border-radius: 50px;
  text-align: center;
}

div.blackPageTitles {
  margin-top: 43px;
}

div.blackTitleFields {
  display: flex;
  margin-bottom: 36px;
}

div.blackTitleFields h5 {
  margin: 0px;
  font-weight: 600;
  font-size: 14px;
}

div.blackTitleFields p {
  margin: 6px 0px 0px 0px;
  font-size: 14px;
  letter-spacing: 0px;
}

div.blackTitleFields div:nth-of-type(2) {
  margin-left: 19px;
}

/* Baltas ketvirtas page */
/* Baltas ketvirtas page */
/* Baltas ketvirtas page */
/* Baltas ketvirtas page */

div.whitePage {
  background: #ffffff;
  width: 100%;
  height: 592px;
}

div.whiteMainContainer {
  width: 1400px;
  position: relative;
  margin: 0 auto;
}

div.whiteTop {
  text-align: center;
  position: absolute;
  width: 450px;
  top: 99px;
  left: 465px;
}

div.whiteTop h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #212121;
  margin: 0px 0px 21px 0px;
}

div.whiteTop img {
  width: 64px;
  height: 2px;
}

div.whiteTop p {
  color: #86878b;
  font-size: 14px;
  letter-spacing: 0px;
  margin: 27px 0px 0px 0px;
}

div.whiteBot {
  position: absolute;
  left: 210px;
  top: 276px;
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.whiteBot div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 33%;
}

div.whiteBot div.orangeCircle2 {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #e27866;
  background-color: #ffffff;
  margin-bottom: 35px;
}

div.whiteBot div.orangeCircle2 i {
  margin-top: 25px;
}

div.whiteBot h4 {
  font-size: 20px;
  letter-spacing: 0px;
  color: #333333;
  font-weight: normal;
  margin: 0;
}

div.whiteBot p {
  margin-top: 27px;
  font-size: 14px;
  color: #86878b;
  letter-spacing: 0px;
}

/* Kainu page */
/* Kainu page */
/* Kainu page */
/* Kainu page */

div.pricePage {
  background: #6696e2;
  width: 100%;
  height: 883px;
}

div.priceMainContainer {
  width: 1400px;
  position: relative;
  margin: 0 auto;
}

div.priceTop {
  text-align: center;
  position: absolute;
  width: 390px;
  top: 97px;
  left: 519px;
  color: #ffffff;
}

div.priceTop h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0px;
  margin: 0px 0px 21px 0px;
}

div.priceTop img {
  width: 64px;
  height: 2px;
}

div.priceTop p {
  font-size: 14px;
  letter-spacing: 0px;
  margin: 27px 0px 0px 0px;
}

div.priceCard {
  position: absolute;
  text-align: center;
  width: 343px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

div.priceCard:nth-of-type(1) {
  left: 146px;
  top: 327px;
}

div.priceCard:nth-of-type(2) {
  left: 529px;
  top: 293px;
}

div.priceCard:nth-of-type(3) {
  left: 912px;
  top: 327px;
}

div.priceCardTop {
  background-color: #333333;
  height: 210px;
  border-radius: 5px 5px 0px 0px;
}

div.priceCardTop h5,
div.priceCardTop h2,
div.priceCardTop h6 {
  color: white;
  letter-spacing: 0px;
  font-weight: normal;
}

div.priceCardTop h5 {
  font-size: 20px;
  margin-bottom: 21px;
  padding-top: 14px;
  margin-top: 0;
}

div.priceCardMid {
  height: 6px;
  background-color: #41d395;
}

div.middlePriceCard {
  height: 40px;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  align-content: center;
}

div.priceCardTop h2 {
  font-size: 96px;
  margin: 0;
  height: 115px;
}

div.priceCardTop h6 {
  font-size: 14px;
  opacity: 50%;
  margin: 5px 0px 19px 0px;
}

div.priceCardBot {
  background-color: #ffffff;
  border-radius: 0px 0px 5px 5px;
}

div.priceCardBot p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 40px;
  color: #86878b;
  font-size: 14px;
}

/* Reviews page */
/* Reviews page */
/* Reviews page */
/* Reviews page */

div.reviewPage {
  width: 100%;
  background-color: #ffffff;
  height: 591px;
}

div.reviewPageMainContainer {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

div.reviewPageMainContainer h2 {
  margin: 0;
  position: absolute;
  top: 67px;
  left: 353px;
  letter-spacing: 0px;
  color: #1c1c1c;
  font-size: 36px;
  font-weight: 600;
  width: 696px;
  text-align: center;
}

div.reviewPageMainContainer div.blueDivider {
  width: 64px;
  height: 2px;
  position: absolute;
  top: 142px;
  left: 668px;
  background-color: #6696e2;
}

div.reviewPageMainContainer div.reviewsContainer {
  position: absolute;
  top: 202px;
  left: 171px;
  width: 1057px;
  display: flex;
  justify-content: space-between;
}

div.reviewField {
  width: 273px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

div.reviewField img {
  width: 70px;
  height: 70px;
}

div.blueBubble {
  position: relative;
  color: #ffffff;
  border-radius: 5px;
  background-color: #6696e2;
  padding: 20px;
  margin-bottom: 10px;
}

div.bubblePoint {
  position: absolute;
  bottom: -5px;
  left: 28px;
  width: 14px;
  height: 14px;
  background-color: #6696e2;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}

div.reviewBottom {
  margin-top: 10px;
  display: flex;
}

div.reviewBottom div {
  margin-left: 14px;
}

div.reviewBottom h4 {
  color: #333333;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0px;
  margin: 12px 0px 4px 2px;
}

div.reviewBottom p {
  color: #86878b;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  margin: 0px;
}

div.reviewPageMainContainer div.reviewPageBubbles {
  position: absolute;
  top: 523px;
  left: 650px;
  display: flex;
  flex-direction: row;
}

div.reviewPageMainContainer div.reviewPageBubbles div {
  margin-right: 20px;
  height: 10px;
  width: 10px;
  border-radius: 100px;
  border: 1px solid #e27866;
}

div.reviewPageMainContainer div.reviewPageBubbles div:nth-of-type(2) {
  background-color: #e27866;
}

/* Contact page */
/* Contact page */
/* Contact page */
/* Contact page */

div.contactPage {
  width: 100%;
  background-color: #e27866;
  height: 573px;
  /* position: relative; */
}

div.contactPositionDiv {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

div.contactPageMainContainer {
  position: absolute;
  /* position: absolute; */
  width: 390px;
  left: 505px;
  top: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

div.contactPageMainContainer h3 {
  font-size: 44px;
  color: #ffffff;
  font-weight: 600;
  margin: 0px;
}

div.contactPageMainContainer p {
  font-size: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  margin: 50px 0px 27px 0px;
}

form.inquiryForm {
  background-color: #ffffff;
  box-shadow: 0px 5px 5px #00000029;
  height: 314px;
  border-radius: 5px;
}

form.inquiryForm input:not([type="radio"]) {
  width: 260px;
  font-size: 12px;
  margin: 16px 0px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #d8d8d8;
}

form.inquiryForm input:first-of-type {
  margin-top: 33px;
}
form.inquiryForm input:nth-of-type(3) {
  margin-bottom: 30px;
}

form.inquiryForm input[type="submit"] {
  position: absolute;
  background-color: #41d395;
  width: 158px;
  height: 48px;
  left: 116px;
  bottom: 0px;
  font-size: 15px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
}

form.inquiryForm input[type="radio"]:checked + label {
  font-weight: bold;
}

form.inquiryForm label {
  font-size: 12px;
  margin-right: 15px;
}

form.inquiryForm input.radio1,
form.inquiryForm input.radio2 {
  margin: 0px 5px 0px 0px;
}

form.inquiryForm div.radioDiv {
  display: flex;
  margin-left: 60px;
  align-items: center;
}

/* Footer */
/* Footer */
/* Footer */
/* Footer */

footer {
  width: 100%;
  background-color: #1c1c1c;
}

footer div.footerMainContainer {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  height: 123px;
  display: flex;
  align-items: center;
}

footer div i {
  color: #e27866;
  margin-right: 110px;
}

div.footerContent {
  position: absolute;
  left: 129px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

footer h4 {
  color: #ffffff;
  opacity: 50%;
  font-weight: normal;
  font-size: 18px;
}

/* Misc */
/* Misc */
/* Misc */

a {
  text-decoration: none;
  color: #ffffff;
}

/* Responsive design  */
/* Responsive design  */
/* Responsive design  */

@media screen and (max-width: 1399px) {
  /* HEADER */

  header div {
    width: auto;
  }

  /* Main @ City */

  div.backgroundCity {
    background-size: auto;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    align-items: center;
  }

  div.leftField img,
  div.leftField h3,
  div.leftField p,
  div.leftField button,
  div.rightField {
    position: static;
    margin: 15px 0px;
  }

  div.leftField h3,
  div.leftField p {
    text-align: center;
  }

  div.leftField {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.formField {
    margin-bottom: 50px;
  }

  /* Socials */

  section {
    width: auto;
  }

  section div {
    position: static;
    margin: 0 auto;
  }

  section div:first-child {
    width: 40%;
  }

  section div:nth-of-type(2) {
    width: 25%;
  }

  section img {
    height: 20px;
  }

  /* Second page - desert */

  div.backgroundDesert {
    background-size: auto;
    height: auto;
  }

  div.backgroundDesert article {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 50px 0px; */
  }

  div.backgroundDesert article > div {
    position: static;
  }

  div.tabs {
    flex-direction: row;
  }

  div.tabsTextField {
    margin: 0 auto;
    text-align: center;
  }

  div.tabsTextField h2,
  div.tabsTextField p {
    width: 75%;
    margin: 0 auto;
    height: 150px;
  }

  div.tabsTextField h2 {
    margin-top: 25px;
  }
  div.tabsTextField p {
    margin-bottom: 25px;
  }

  div.tabs button {
    margin: 50px 15px;
  }

  div.tabsImages {
    margin-bottom: 25px;
  }

  /* Juodas trecias page */

  div.blackPage {
    height: auto;
  }

  div.blackPageMain {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img.blackLogo,
  div.blackPageRight {
    position: static;
  }

  img.blackLogo {
    margin: 50px 0px;
  }

  div.blackPageRight h2 {
    width: auto;
    text-align: center;
  }
  div.blackPageRight img {
    width: 100%;
  }

  div.blackPageRight > p {
    text-align: center;
  }
}
